#wpf-add-field {
  margin-top: 3px;
}
#wpf-field-slider {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 10px 10px 10px 0;
}
#wpf-field-slider .item {
  width: 350px;
  height: 17px;
  font-size: 17px;
  color: #333;
  background: #fcfcfc;
  border: 1px solid #999999;
  padding: 10px;
  margin-bottom: 5px;
  cursor: move;
}
#wpf-field-slider .item .remove {
  text-decoration: none;
  float: right;
  background: #333;
  color: #fcfcfc;
  text-align: center;
  line-height: 17px;
  border-radius: 10px;
  width: 20px;
  height: 20px;
}
